<body>
  <h2>Status</h2>
  
  <div class="container">
    <table class="table table-hover table-striped custab ">
      <tr>
        <th>Appointment ID </th>
        <th>User Name </th>
        <th>Center Name </th>
        <th>Test Name</th>
        <th>Status </th>
        <th>Date And Time </th>
        <td><b>Action</b></td>
             
  
      </tr>
      <tr>
       
        <td>{{appointment.appointmentId}}</td>
        <td>{{appointment.userName}}</td>
        <td>{{appointment.centerName}}</td>
        <td>{{appointment.testName}}</td>
        <td>{{appointment.status}}</td>
        <td>{{appointment.dateTime |  date:'medium'}}</td>
        <td> <i class="fas fa-trash clickable" (click)='remove(appointment.appointmentId)' ></i></td>
  
      </tr>
    </table>
   
  </div> <!-- /.container-fluid -->
  </body>
