<div id="wrapper" class={{sidebarClass}} style="overflow-x: hidden;">
  <div class="row">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav clickable"> <br>
        <li class="sidebar-brand ">
          <a class="h2" routerLink="/user/dashboard">
            <i class="fas fa-hospital-user"></i> User
          </a>
          <hr>
        </li>
        <li
          [ngStyle]='{"background": router.url == "/user/dashboard/userCenter/view" ? "rgba(255,255,255,0.2)" : "darkslategrey"}'
          title="Available Center">
          <a (click)="checkAppointmentexist()" ><i class="fas fa-file-medical"></i>&nbsp; Make Appointment</a>
        </li>
        <!-- <li*ngIf='isAppointmentExisit' routerLink='/user/dashboard/userCenter/view'
          [ngStyle]='{"background": router.url == "/user/dashboard/MakeAppointment" ? "rgba(255,255,255,0.2)" : "darkslategrey"}'
          title="Make Appointment">
          <a routerLink='/user/dashboard/MakeAppointment'><i class="fas fa-file-medical"></i>&nbsp; Make Appointment</a>
        </li> -->
        <!-- <hr> -->
        <li
          [ngStyle]='{"background": router.url == "/user/dashboard/viewStatus/:appointmentId" ? "rgba(255,255,255,0.2)" : "darkslategrey"}'
          title="View Status">
          <a (click)="viewStatus()"><i class="fa fa-eye"></i>&nbsp; View Status</a>
        </li>
        <hr>
        <li
          [ngStyle]='{"background": router.url == "/user/dashboard/PersonalDetails/:userId" ? "rgba(255,255,255,0.2)" : "darkslategrey"}'
          title="View all centers">
          <a (click)= getPersonalDetail() ><i class="fas fa-procedures"></i>&nbsp; Personal Details</a>
        </li>

        <hr>
        <li class="container" title="Log out">
          <button class="btn btn-transparent float-right" (click)='logOut()' style="color: #999999;"><i
              class="fa fa-power-off"></i>
            Logout</button>
        </li>
      </ul>
      <!-- /#sidebar-wrapper -->
    </div>
    <div class="col-md-12">
      <!-- Page Content -->
      &nbsp;&nbsp; <div class={{menuToggleClass}} (click)='toggleClass()'>
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>

      <div class="container">
        <router-outlet></router-outlet>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
  </div>
</div>