<body>
<h2>Your Details : </h2>

<div class="container">
  <table class="table table-hover table-striped custab ">
    <tr>
      <th>User Name </th>
      <th>Email </th>
      <th>Age </th>
      <th>Gender</th>
      <th>Phone no </th>
      <th>Password </th>
           

    </tr>
    <tr>
     
      <td>{{user.userName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.age}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.mobileNo}}</td>
      <td>{{user.password}}</td>

    </tr>
  </table>
 
</div> <!-- /.container-fluid -->
</body>