body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url("/src/assets/default.jpg");
    height:45em ;
    background-size:cover;
    width:auto;
    background-position:center
    
}