<div class="jumbotron text-center bg-transparent">
    <div class="float-right">
        <a href="../../../assets/About/about-us.html" target="_"><i class="fa fa-info"></i> About Us</a>
    </div>
    <h1 class="display-4">Health Care System</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="alert alert-warning alert-dismissible" *ngIf='isInvalidAttempt'>
                <button href="#" class="close" data-dismiss="alert" aria-label="close"
                    (click)='isInvalidAttempt = false'>&times;</button>
                <strong><i class="fa fa-exclamation-triangle"></i> Warning !</strong> You need to be logged-in to view
                this content.
            </div>
            <div class="card bg-transparent">
                <div class="card-header">
                    <h4 class=" display-4 text-center">Login</h4>
                </div>
                <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" placeholder="Username" #uName="ngModel" name="userName"
                                    class="form-control" [(ngModel)]='userName' required />
                            </div>
                            <span *ngIf='!uName.valid && uName.touched'>
                                <p class="errorText">Please enter username</p>
                            </span>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
                                </div>
                                <input type={{inputType}} placeholder="Password" #pwd="ngModel" name="passWord"
                                    class="form-control" [(ngModel)]='password' required />
                                <div class="input-group-append">
                                    <span class="input-group-text"><a class="fa fa-eye clickable"
                                            (click)='toggle()'></a></span>
                                </div>
                            </div>
                            <span *ngIf='!pwd.valid && pwd.touched'>
                                <p class="errorText">Please enter password</p>
                            </span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success" [disabled]='! loginForm.valid || isLogginIn'>
                            <div class="spinner-border spinner-border-sm" *ngIf='isLogginIn'></div>&nbsp;
                            <i class="fas fa-sign-in-alt"></i> Login

                        </button>
                        <button data-toggle="modal" data-target="#registerModal" style="float: right;" type="button"
                            class="btn btn-primary">
                            <i class="fas fa-mouse"></i> Register
                        </button>
                    </div>
                </form>
                <span *ngIf='!loginSucc'>
                    <div class="alert alert-danger alert-dismissible">
                        <button href="#" class="close" data-dismiss="alert" (click)='loginSucc=true'
                            aria-label="close">&times;</button>
                        <strong>Error !</strong> {{ errMsg }}
                    </div>
                </span>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<!-- Modal for view the details -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div >
                <h1 class="modal-title" id="updateModalLabel"><i class="fas fa-laptop-medical"></i> User Registration
                </h1></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form #registerform=ngForm (ngSubmit)="registerUser();registerform.reset();">


                    <br>
                    <small class="text-danger">{{msg}}</small>
                    <div class="form-group">
                       <!--  <label for="userName">Username</label> -->
                        <input style="text-align: center;" type="text" class="form-control" placeholder="Enter Your Username" name="username" required
                            pattern="^[A-Z][A-Za-z0-9_-]{3,19}$" [(ngModel)]="user.userName" #Name="ngModel"
                            [class.is-invalid]="Name.invalid && Name.touched">
                        <div *ngIf="Name.errors && (Name.invalid && Name.touched)">
                            <small class="text-danger" *ngIf="Name.errors.required">username is required
                                field</small>
                            <small class="text-danger" *ngIf="Name.errors.pattern">Enter the valid username (Do not
                                use special symbols/First letter must be capital)</small>

                        </div>
                    </div>

                    <div class="form-group">
                        <!-- <label for="email">Email:</label> -->
                        <input style="text-align: center;" type="email" class="form-control" placeholder="Enter Your Email-Id" name="email"
                            [(ngModel)]="user.email" required
                            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" #email="ngModel"
                            [class.is-invalid]="email.invalid && email.touched">
                        <div *ngIf="email.errors && (email.invalid && email.touched)">
                            <small class="text-danger" *ngIf="email.errors.required">Email Id is required field</small>
                            <small class="text-danger" *ngIf="email.errors.pattern">Enter the valid email Id</small>

                        </div>
                    </div>

                    <div class="form-group">
                        <!-- <label>Contact Number: </label> -->
                        <input style="text-align: center;" type="text" class="form-control" [(ngModel)]="user.mobileNo" name="mobileNo" required
                            placeholder="Enter Your Phone number" pattern="[7-9][0-9]{9}" #mobileNo=ngModel
                            [class.is-invalid]="mobileNo.invalid && mobileNo.touched">
                        <div *ngIf="mobileNo.errors && (mobileNo.invalid && mobileNo.touched)">
                            <small class="text-danger" *ngIf="mobileNo.errors.required">Contact Number is required
                                field</small>
                            <small class="text-danger" *ngIf="mobileNo.errors.pattern">Enter the valid mobile
                                number</small>

                        </div>
                    </div>

                    <div class="form-group">
                        <!-- <label>Age: </label> -->
                        <input style="text-align: center;" type="number" class="form-control" [(ngModel)]="user.age" name="age" required
                            placeholder="Enter Your Age" pattern="[1-85]" #age=ngModel
                            [class.is-invalid]="age.invalid && age.touched">
                        <div *ngIf="age.errors && (age.invalid && age.touched)">
                            <small class="text-danger" *ngIf="age.errors.required">Age is required
                                field</small>
                            <small class="text-danger" *ngIf="age.errors.pattern">Enter the valid Age</small>

                        </div>
                    </div>

                    <div class="form-group">
                        Select Gender:<br>
                        <input type="radio" [(ngModel)]="user.gender" name="gender"  #gender=ngModel
                          value="Male">&nbsp;Male
                        &nbsp;<input type="radio" [(ngModel)]="user.gender" name="gender"  #gender=ngModel
                          value="Female">&nbsp;Female
                        &nbsp;<input type="radio" [(ngModel)]="user.gender" name="gender"  #gender=ngModel
                          value="Others">&nbsp;Others
              
                      </div>
                      <div *ngIf="gender.dirty && gender.touched && gender.invalid" class="alert alert-danger">
                        Please Select appropriate Value
                      </div> 




                    <div class="form-group">
                        <!-- <label for="pwd">Password:</label> -->
                        <input style="text-align: center;" type="password" class="form-control" placeholder="Enter Your Password" name="password"
                            [(ngModel)]="user.password" required  #pass="ngModel"
                            [class.is-invalid]="pass.invalid && pass.touched">
                        <div *ngIf="pass.errors && (pass.invalid && pass.touched)">
                            <small class="text-danger" *ngIf="pass.errors.required">password required</small>
                        </div>
                    </div>
                    <button [disabled]="registerform.form.invalid" type="submit" class="btn btn-info">Register</button>
                </form>

            </div>
        </div>
    </div>
</div>